.container {
  display: flex;
  align-items: center;
  gap: $spacing-8;
  text-decoration: none;
}

.text {
  font-size: 14px;
  font-weight: 500;
}

.icon {
  width: 18px;
  height: 18px;
}

.active {
  .icon, .text {
    color: #45C1FF;
  }
}

.inactive {
  .icon, .text {
    color: #7a9ab5;
  }

  &:hover {
    .icon, .text {
      color: #c8dce8;
    }
  }
}
